{% extends 'layout.html' %}

{% block content %}
<h2>Start Hunt: {{ hunt.name }}</h2>

<div class="card mt-4">
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Enter your Username to begin:</label>
                <input type="text" class="form-control" id="username" name="username" required autocomplete="off">
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Start Hunt</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}